@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:focus,
a:visited,
a:active {
    outline: none;
}

body {
    background-image: url("bg.jpeg");
    width: 100vw;
    height: 100vh;
    background-size: 1500px;
    /* background-position: center center; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    transition: all 0.3s;
    color: darkblue;
    overflow: auto;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.paper {
    width: 60vmin;
    min-height: 20vmin;
    background-image: url("paper.webp");
    background-size: 350px;
    background-position: center 100px;
    position: absolute;
    transform: rotateZ(-5deg);
    transition: all 0.3s;
    border-radius: 10px;
    box-shadow: 1px 15px 20px 0px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    cursor: grab;
}

p {
    font-size: 2rem;
    text-align: center;
    font-family: 'Zeyada';
    padding: 10px;
}

.paper.heart::after {
    content: "";
    background-image: url('https://cdn.pixabay.com/photo/2016/03/31/19/25/cartoon-1294994__340.png');
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: 23vmin;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0.6;
    animation: heartbeat 1s ease-in-out infinite;
}

.paper.heart {
    position: relative;
    width: 30vmin;
    height: 30vmin;
    padding: 0;
    border-radius: 50%;
    text-align: center;
}

img {
    display: block;
    width: 75vmin;
    height: 50vmin;
    margin: 20px 0;
    border-radius: 10px;
    opacity: 0.95;
    object-fit: cover;
    box-shadow: 8px 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    /* animation: imageAni 3s ease-in-out infinite; */
}



.paper2 img {
    width: 30vmin;
    height: 34vmin;
}

.paper4 img {

    width: 37vmin;
    height: 37vmin;
}

.paper5 img {
    width: 51vmin;
    height: 30vmin;
}

.paper3 img {
    width: 55vmin;
    height: 35vmin;
}

.paper1 img {
    width: 43vmin;
    height: 20vmin;
}

:nth-child(5) {
    width: 40vmin;
}

:nth-child(6) {
    width: 56vmin;
}

:nth-child(4) {
    width: 66vmin;
}

:nth-child(3) {
    width: 46vmin;
}

:nth-child(1) {
    width: 60vmin;
}


/* Styling the scrollbar */
::-webkit-scrollbar {
    width: 5px;
    /* Width of vertical scrollbar */
    height: 5px;
    /* Height of horizontal scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@keyframes heartbeat {
    0% {
        transform: scale(1) rotate(-45deg);
        transform-origin: center center;
    }

    25% {
        transform: scale(0.8) rotate(45deg);
        transform-origin: center center;
    }

    50% {
        transform: scale(1.1) rotate(-45deg);
        transform-origin: center center;
    }

    100% {
        transform: scale(0.9) rotate(25deg);
        transform-origin: center center;
    }
}

@keyframes imageAni {
    0% {
        transform: scale(1);
        transform-origin: center center;
    }

    25% {
        transform: scale(1.11);
        transform-origin: center center;
    }

    35% {
        transform: scale(1.1);
        transform-origin: center center;
    }

    100% {
        transform: scale(1);
        transform-origin: center center;
    }
}

img:hover {
    box-shadow: 6px 8px 10px rgba(0, 0, 0, 0.9);
    transform: scale(1.1);
    transition: all 2s ease-in-out;
}
